<!doctype html>
<html>
<head>
	<title>测试</title>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<script type="text/javascript">
		$(function () {
			function search() {
				$.ajax({
					type: "get",
					url: '/fetch',
					data: {
						param: keywords.join("&"),
						name: 'lee'
					},
					success: function (data) {
						var result = $.parseJSON(data)["data"];
						for (var i = 0; i < result.length; i++) {
							var item = result[i];
							var $li = $('<li><a target="_blank" href="' + item.link + '">' + item.title + '</a></li>');
							$('ul').append($li);
						}
					}
				})
			}
			function chart() {
				$.ajax({
					type: "get",
					url: '/chart',
					success: function (data) {
						var result = $.parseJSON(data);
						console.log(result)
					}
				})
			}

			var input = $('input');
			var keywords = ["立水桥"];

			input.click(function () {
				chart();
			})
		})
	</script>
</head>
<body>
	<div class="container">
		<div class="row">
			<input class="btn" value="测试" type="button">
			<ul></ul>
		</div>
	</div>
</body>
</html>
