<!doctype html>
<html>
<head>
    <title>测试</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript">
        $(function () {
            function search() {
                $.ajax({
                    type: "get",
                    url: '/fetch',
                    data: {
                        param: keywords.join("&"),
                        name: 'lee'
                    },
                    success: function (data) {
                        var result = $.parseJSON(data)["data"];
                        for (var i = 0; i < result.length; i++) {
                            var item = result[i];
                            var $li = $('<li><a target="_blank" href="' + item.link + '">' + item.title + '</a></li>');
                            $('ul').append($li);
                        }
                    }
                })
            }
            function chart() {
                $.ajax({
                    type: "get",
                    url: '/analysis',
                    success: function (data) {
                        var result = $.parseJSON(data);
                        console.log(result)
                    }
                })
            }

            var input = $('input');
            var keywords = ["五道口"];

            input.click(function () {
                // search();
                chart()
            })
        })
    </script>
    <style type="text/css">
        body {
            font-family: '微软雅黑';
        }
        .side_bar {
            margin: 110px 0 0;          
        }
    </style>    
</head>
<body>    
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="page-header">
                    <h1>豆瓣租房小工具</h1>
                </div>
                <ul>
                    <li><a data-toggle="modal" href="#myModal">它解决了什么问题？</a></li>
                    <li><a href="#">如何使用？</a></li>
                    <li><a href="">测试</a></li>
                </ul>               
                <hr>
                <div class="select_box">
                    <ul class="nav nav-tabs">
                        <li class="dropdown active">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">地铁<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="tab" href="#select_box-line13">13号线</a></li>
                                <li><a data-toggle="tab" href="#select_box-line10">10号线</a></li>
                                <li><a data-toggle="tab" href="#select_box-line4">4号线</a></li>
                                <li><a data-toggle="tab" href="#select_box-line5">5号线</a></li>
                                <li><a data-toggle="tab" href="#select_box-line8">8号线</a></li>      
                                <li><a data-toggle="tab" href="#select_box-line6">6号线</a></li>
                                <li><a data-toggle="tab" href="#select_box-line9">9号线</a></li>      
                                <li><a data-toggle="tab" href="#select_box-line2">2号线</a></li>    
                                <li><a data-toggle="tab" href="#select_box-line1">1号线</a></li>      
                                <li><a data-toggle="tab" href="#select_box-lineChangpin">昌平线</a></li>      
                                <li><a data-toggle="tab" href="#select_box-lineDaxing">大兴线</a></li>      
                                <li><a data-toggle="tab" href="#select_box-lineBatong">八通线</a></li>      
                                <li><a data-toggle="tab" href="#select_box-lineYizhuang">亦庄线</a></li>      
                                <li><a data-toggle="tab" href="#select_box-lineFangshan">房山线</a></li>
                            </ul>
                        </li>
                        <li class=""><a data-toggle="tab" href="#profile">市辖区</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="select_box-line13" class="tab-pane active">
                            <span class="label label-warning">13号线</span>
                            <button class="btn btn-small" data-toggle="button">西直门</button>
                            <button class="btn btn-small" data-toggle="button">大钟寺</button>
                            <button class="btn btn-small" data-toggle="button">知春路</button>
                            <button class="btn btn-small" data-toggle="button">五道口</button>
                            <button class="btn btn-small" data-toggle="button">上地</button>     
                            <button class="btn btn-small" data-toggle="button">西二旗</button>     
                            <button class="btn btn-small" data-toggle="button">龙泽</button>     
                            <button class="btn btn-small" data-toggle="button">回龙观</button>     
                            <button class="btn btn-small" data-toggle="button">霍营</button>     
                            <button class="btn btn-small" data-toggle="button">立水桥</button>     
                            <button class="btn btn-small" data-toggle="button">望京西</button>     
                            <button class="btn btn-small" data-toggle="button">芍药居</button>     
                            <button class="btn btn-small" data-toggle="button">光熙门</button>     
                            <button class="btn btn-small" data-toggle="button">柳芳</button>     
                            <button class="btn btn-small" data-toggle="button">东直门</button>       
                        </div>
                        <div id="select_box-line10" class="tab-pane">
                            <span class="label label-warning">10号线</span>
                            <button class="btn btn-small" data-toggle="button">巴沟</button>
                            <button class="btn btn-small" data-toggle="button">苏州街</button>
                            <button class="btn btn-small" data-toggle="button">海淀黄庄</button>
                            <button class="btn btn-small" data-toggle="button">知春里</button>
                            <button class="btn btn-small" data-toggle="button">知春路</button>
                            <button class="btn btn-small" data-toggle="button">西土城</button>
                            <button class="btn btn-small" data-toggle="button">牡丹园</button>
                            <button class="btn btn-small" data-toggle="button">健德门</button>
                            <button class="btn btn-small" data-toggle="button">北土城</button>
                            <button class="btn btn-small" data-toggle="button">安贞门</button>
                            <button class="btn btn-small" data-toggle="button">惠新西街南口</button>
                            <button class="btn btn-small" data-toggle="button">芍药居</button>
                            <button class="btn btn-small" data-toggle="button">太阳宫</button>
                            <button class="btn btn-small" data-toggle="button">三元桥</button>
                            <button class="btn btn-small" data-toggle="button">亮马桥</button>
                            <button class="btn btn-small" data-toggle="button">农业展览馆</button>
                            <button class="btn btn-small" data-toggle="button">团结湖</button>
                            <button class="btn btn-small" data-toggle="button">呼家楼</button>
                            <button class="btn btn-small" data-toggle="button">金台夕照</button>
                            <button class="btn btn-small" data-toggle="button">国贸</button>
                            <button class="btn btn-small" data-toggle="button">双井</button>
                            <button class="btn btn-small" data-toggle="button">劲松</button>
                            <button class="btn btn-small" data-toggle="button">潘家园</button>
                            <button class="btn btn-small" data-toggle="button">十里河</button>
                            <button class="btn btn-small" data-toggle="button">分钟寺</button>
                            <button class="btn btn-small" data-toggle="button">成寿寺</button>
                            <button class="btn btn-small" data-toggle="button">宋家庄</button>
                            <button class="btn btn-small" data-toggle="button">石榴庄</button>
                            <button class="btn btn-small" data-toggle="button">大红门</button>
                            <button class="btn btn-small" data-toggle="button">角门东</button>
                            <button class="btn btn-small" data-toggle="button">角门西</button>
                            <button class="btn btn-small" data-toggle="button">草桥</button>
                            <button class="btn btn-small" data-toggle="button">首经贸</button>
                            <button class="btn btn-small" data-toggle="button">丰台站</button>
                            <button class="btn btn-small" data-toggle="button">泥洼</button>
                            <button class="btn btn-small" data-toggle="button">西局</button>
                            <button class="btn btn-small" data-toggle="button">六里桥</button>
                            <button class="btn btn-small" data-toggle="button">莲花桥</button>
                            <button class="btn btn-small" data-toggle="button">公主坟</button>
                            <button class="btn btn-small" data-toggle="button">西钓鱼台</button>
                            <button class="btn btn-small" data-toggle="button">慈寿寺</button>
                            <button class="btn btn-small" data-toggle="button">车道沟</button>
                            <button class="btn btn-small" data-toggle="button">长春桥</button>
                            <button class="btn btn-small" data-toggle="button">火器营</button>
                        </div>
                        <div id="select_box-line4" class="tab-pane">
                            <span class="label label-warning">4号线</span>
                            <button class="btn btn-small" data-toggle="button">安河桥北</button>
                            <button class="btn btn-small" data-toggle="button">北宫门</button>
                            <button class="btn btn-small" data-toggle="button">西苑</button>
                            <button class="btn btn-small" data-toggle="button">圆明园</button>
                            <button class="btn btn-small" data-toggle="button">北京大学东门</button>
                            <button class="btn btn-small" data-toggle="button">中关村</button>
                            <button class="btn btn-small" data-toggle="button">海淀黄庄</button>
                            <button class="btn btn-small" data-toggle="button">人民大学</button>
                            <button class="btn btn-small" data-toggle="button">魏公村</button>
                            <button class="btn btn-small" data-toggle="button">国家图书馆</button>
                            <button class="btn btn-small" data-toggle="button">动物园</button>
                            <button class="btn btn-small" data-toggle="button">西直门</button>
                            <button class="btn btn-small" data-toggle="button">新街口</button>
                            <button class="btn btn-small" data-toggle="button">平安里</button>
                            <button class="btn btn-small" data-toggle="button">西四</button>
                            <button class="btn btn-small" data-toggle="button">灵境胡同</button>
                            <button class="btn btn-small" data-toggle="button">西单</button>
                            <button class="btn btn-small" data-toggle="button">宣武门</button>
                            <button class="btn btn-small" data-toggle="button">菜市口</button>
                            <button class="btn btn-small" data-toggle="button">陶然亭</button>
                            <button class="btn btn-small" data-toggle="button">北京南站</button>
                            <button class="btn btn-small" data-toggle="button">马家堡</button>
                            <button class="btn btn-small" data-toggle="button">角门西</button>
                            <button class="btn btn-small" data-toggle="button">公益西桥</button>
                            <button class="btn btn-small" data-toggle="button">新宫</button>
                            <button class="btn btn-small" data-toggle="button">西红门</button>
                            <button class="btn btn-small" data-toggle="button">高米店北</button>
                            <button class="btn btn-small" data-toggle="button">高米店南</button>
                            <button class="btn btn-small" data-toggle="button">枣园</button>
                            <button class="btn btn-small" data-toggle="button">清源路</button>
                            <button class="btn btn-small" data-toggle="button">黄村西大街</button>
                            <button class="btn btn-small" data-toggle="button">黄村火车站</button>
                            <button class="btn btn-small" data-toggle="button">义和庄</button>
                            <button class="btn btn-small" data-toggle="button">生物医药基地</button>
                            <button class="btn btn-small" data-toggle="button">天宫院</button>
                        </div>
                        <div id="select_box-line5" class="tab-pane">
                            <span class="label label-warning">5号线</span>
                            <button class="btn btn-small" data-toggle="button">天通苑北</button>
                            <button class="btn btn-small" data-toggle="button">天通苑</button>
                            <button class="btn btn-small" data-toggle="button">天通苑南</button>
                            <button class="btn btn-small" data-toggle="button">立水桥</button>
                            <button class="btn btn-small" data-toggle="button">立水桥南</button>
                            <button class="btn btn-small" data-toggle="button">北苑路北</button>
                            <button class="btn btn-small" data-toggle="button">大屯路东</button>
                            <button class="btn btn-small" data-toggle="button">惠新西街北口</button>
                            <button class="btn btn-small" data-toggle="button">惠新西街南口</button>
                            <button class="btn btn-small" data-toggle="button">和平西桥</button>
                            <button class="btn btn-small" data-toggle="button">和平里北街</button>
                            <button class="btn btn-small" data-toggle="button">雍和宫</button>
                            <button class="btn btn-small" data-toggle="button">北新桥</button>
                            <button class="btn btn-small" data-toggle="button">张自忠路</button>
                            <button class="btn btn-small" data-toggle="button">东四</button>
                            <button class="btn btn-small" data-toggle="button">灯市口</button>
                            <button class="btn btn-small" data-toggle="button">东单</button>
                            <button class="btn btn-small" data-toggle="button">崇文门</button>
                            <button class="btn btn-small" data-toggle="button">磁器口</button>
                            <button class="btn btn-small" data-toggle="button">天坛东门</button>
                            <button class="btn btn-small" data-toggle="button">蒲黄榆</button>
                            <button class="btn btn-small" data-toggle="button">刘家窑</button>
                            <button class="btn btn-small" data-toggle="button">宋家庄</button>
                        </div>
                        <div id="select_box-line8" class="tab-pane">
                            <span class="label label-warning">8号线</span>
                            <button class="btn btn-small" data-toggle="button">回龙观东大街</button>
                            <button class="btn btn-small" data-toggle="button">霍营</button>
                            <button class="btn btn-small" data-toggle="button">育新</button>
                            <button class="btn btn-small" data-toggle="button">西小口</button>
                            <button class="btn btn-small" data-toggle="button">永泰庄</button>
                            <button class="btn btn-small" data-toggle="button">林萃桥</button>
                            <button class="btn btn-small" data-toggle="button">森林公园南门</button>
                            <button class="btn btn-small" data-toggle="button">奥林匹克公园</button>
                            <button class="btn btn-small" data-toggle="button">奥体中心</button>
                            <button class="btn btn-small" data-toggle="button">北土城</button>
                            <button class="btn btn-small" data-toggle="button">安华桥</button>
                            <button class="btn btn-small" data-toggle="button">安德里北街</button>
                            <button class="btn btn-small" data-toggle="button">鼓楼大街</button>
                        </div>
                        <div id="select_box-line6" class="tab-pane">
                            <span class="label label-warning">6号线</span>
                            <button class="btn btn-small" data-toggle="button">草房</button>
                            <button class="btn btn-small" data-toggle="button">常营</button>
                            <button class="btn btn-small" data-toggle="button">黄渠</button>
                            <button class="btn btn-small" data-toggle="button">褡裢坡</button>
                            <button class="btn btn-small" data-toggle="button">青年路</button>
                            <button class="btn btn-small" data-toggle="button">十里堡</button>
                            <button class="btn btn-small" data-toggle="button">金台路</button>
                            <button class="btn btn-small" data-toggle="button">呼家楼</button>
                            <button class="btn btn-small" data-toggle="button">东大桥</button>
                            <button class="btn btn-small" data-toggle="button">朝阳门</button>
                            <button class="btn btn-small" data-toggle="button">东四</button>
                            <button class="btn btn-small" data-toggle="button">南锣鼓巷</button>
                            <button class="btn btn-small" data-toggle="button">北海北</button>
                            <button class="btn btn-small" data-toggle="button">平安里</button>
                            <button class="btn btn-small" data-toggle="button">车公庄</button>
                            <button class="btn btn-small" data-toggle="button">车公庄西</button>
                            <button class="btn btn-small" data-toggle="button">白石桥南</button>
                            <button class="btn btn-small" data-toggle="button">花园桥</button>
                            <button class="btn btn-small" data-toggle="button">慈寿寺</button>
                            <button class="btn btn-small" data-toggle="button">海淀五路居</button>
                        </div>
                        <div id="select_box-line9" class="tab-pane">
                            <span class="label label-warning">9号线</span>
                            <button class="btn btn-small" data-toggle="button">国家图书馆</button>
                            <button class="btn btn-small" data-toggle="button">白石桥南</button>
                            <button class="btn btn-small" data-toggle="button">白堆子</button>
                            <button class="btn btn-small" data-toggle="button">北京西站</button>
                            <button class="btn btn-small" data-toggle="button">六里桥东</button>
                            <button class="btn btn-small" data-toggle="button">六里桥</button>
                            <button class="btn btn-small" data-toggle="button">七里庄</button>
                            <button class="btn btn-small" data-toggle="button">丰台东大街</button>
                            <button class="btn btn-small" data-toggle="button">丰台南路</button>
                            <button class="btn btn-small" data-toggle="button">科怡路</button>
                            <button class="btn btn-small" data-toggle="button">丰台科技园</button>
                            <button class="btn btn-small" data-toggle="button">郭公庄</button>
                        </div>
                        <div id="select_box-line2" class="tab-pane">
                            <span class="label label-warning">2号线</span>
                            <button class="btn btn-small" data-toggle="button">西直门</button>
                            <button class="btn btn-small" data-toggle="button">车公庄</button>
                            <button class="btn btn-small" data-toggle="button">阜成门</button>
                            <button class="btn btn-small" data-toggle="button">复兴门</button>
                            <button class="btn btn-small" data-toggle="button">长椿街</button>
                            <button class="btn btn-small" data-toggle="button">宣武门</button>
                            <button class="btn btn-small" data-toggle="button">和平门</button>
                            <button class="btn btn-small" data-toggle="button">前 门</button>
                            <button class="btn btn-small" data-toggle="button">崇文门</button>
                            <button class="btn btn-small" data-toggle="button">北京站</button>
                            <button class="btn btn-small" data-toggle="button">建国门</button>
                            <button class="btn btn-small" data-toggle="button">朝阳门</button>
                            <button class="btn btn-small" data-toggle="button">东四十条</button>
                            <button class="btn btn-small" data-toggle="button">东直门</button>
                            <button class="btn btn-small" data-toggle="button">雍和宫</button>
                            <button class="btn btn-small" data-toggle="button">安定门</button>
                            <button class="btn btn-small" data-toggle="button">鼓楼大街</button>
                            <button class="btn btn-small" data-toggle="button">积水潭</button>
                        </div>
                        <div id="select_box-line1" class="tab-pane">
                            <span class="label label-warning">1号线</span>
                            <button class="btn btn-small" data-toggle="button">苹果园</button>
                            <button class="btn btn-small" data-toggle="button">古城路</button>
                            <button class="btn btn-small" data-toggle="button">八角游乐园</button>
                            <button class="btn btn-small" data-toggle="button">八宝山</button>
                            <button class="btn btn-small" data-toggle="button">玉泉路</button>
                            <button class="btn btn-small" data-toggle="button">五棵松</button>
                            <button class="btn btn-small" data-toggle="button">万寿路</button>
                            <button class="btn btn-small" data-toggle="button">公主坟</button>
                            <button class="btn btn-small" data-toggle="button">军事博物馆</button>
                            <button class="btn btn-small" data-toggle="button">木樨地</button>
                            <button class="btn btn-small" data-toggle="button">南礼士路</button>
                            <button class="btn btn-small" data-toggle="button">复兴门</button>
                            <button class="btn btn-small" data-toggle="button">西单</button>
                            <button class="btn btn-small" data-toggle="button">天安门西</button>
                            <button class="btn btn-small" data-toggle="button">天安门东</button>
                            <button class="btn btn-small" data-toggle="button">王府井</button>
                            <button class="btn btn-small" data-toggle="button">东单</button>
                            <button class="btn btn-small" data-toggle="button">建国门</button>
                            <button class="btn btn-small" data-toggle="button">国贸</button>
                            <button class="btn btn-small" data-toggle="button">大望路</button>
                            <button class="btn btn-small" data-toggle="button">四惠</button>
                            <button class="btn btn-small" data-toggle="button">四惠东</button>
                        </div>
                        <div id="select_box-lineChangpin" class="tab-pane">
                             <span class="label label-warning">昌平线</span>
                        </div>
                        <div id="select_box-lineDaxing" class="tab-pane">
                             <span class="label label-warning">大兴线</span>
                        </div>
                        <div id="select_box-lineBatong" class="tab-pane">
                            <span class="label label-warning">八通线</span>
                        </div>
                        <div id="select_box-lineYizhuang" class="tab-pane">
                             <span class="label label-warning">亦庄线</span>
                        </div>                        
                        <div id="select_box-lineFangshan" class="tab-pane">
                             <span class="label label-warning">房山线</span>
                        </div>                     
                    </div>
                </div>
            </div>
            <div class="span3 side_bar">
            </div>
        </div>
    </div>
    <!-- Model begin -->
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
        </div>
        <div class="modal-body">
        <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">确定</button>
        </div>
    </div>    
</body>
</html>
